/* form div */

/* .form-div {
  width: 440px;
  height: 500px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  padding: 20px 10px;
} */

.form-div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
  height: 604px;
  border-radius: 10px;
  background-color: #fff;
}

/* form logo  */
.logo-div {
  margin-top: -80px;
  height: 45px;
}

.login-logo {
  height: 42px;
  width: 42px;
}
/* login text fields */

.login-container {
  margin: 0px auto 25px;
  height: 38px;
  width: 270px;
}

.login-signup {
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(51, 51, 51);
  padding: 3px;
  letter-spacing: -1.2px;
}

.text-container {
  width: 270px;
  margin: 0px auto 25px;
}

.form-text {
  font-size: 18px;
  font-family: sans-serif;
  color: rgb(33, 25, 34);
  text-align: center;
  margin: -15px 0px 20px;
}

.input-container {
  margin-bottom: 7px;
}

.form-input {
  height: 40px;
  width: 268px;
  font-size: 18px;
  letter-spacing: -0.4px;
  /* color: rgb(333); */
  border-radius: 4px;
}
