/* form div */

.form-div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
  height: 550px;
  border-radius: 10px;
  background-color: #fff;
}

/* form logo  */
.logo-div {
  margin-top: -80px;
  height: 45px;
}

.session-logo {
  height: 42px;
  width: 42px;
}
/* login text fields */

.session-container {
  margin: 0px auto 25px;
  height: 38px;
  width: 270px;
}

.session-signup {
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(51, 51, 51);
  padding: 3px;
  letter-spacing: -2.3px;
}

.text-container {
  width: 270px;
  margin: 0px auto 25px;
}

.form-text {
  font-size: 18px;
  font-family: sans-serif;
  color: rgb(33, 25, 34);
  text-align: center;
  margin: -15px 0px 20px;
}

.input-container {
  margin-bottom: 7px;
}

.form-input {
  height: 40px;
  width: 268px;
  font-size: 18px;
  letter-spacing: -0.4px;
  border-radius: 4px;
}

.form-button {
  background-color: #333333;
  color: #ffffff;
  border-radius: 4px;
  height: 35px;
  width: 274px;
  font-size: 15px;
}
