.App {
  text-align: center;
}

.main-login {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* background pins */

/* .parent-div-pin {
  margin: 0 70px;
  padding: 24px 0;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
}

.pins {
  width: 236px;
  height: auto;
  border-radius: 10px;
}

.pin-div {
  padding: 15px;
  margin: -3px;
} */

/* transparent div with form and button */

.transparent-div {
  background: url(../assets/transpBlack25.png);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  z-index: 1;
  width: auto;
}

/* button to toggle between signup and login */

.toggle-button {
  background-color: #e2e2e2;
  color: #373737;
  height: 40px;
  width: 130px;
  position: absolute;
  top: 47px;
  right: 154px;
  bottom: 88px;
  left: 24px;
  z-index: 2;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}
