.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navi-bar {
  display: flex;
  justify-content: space-around;
  height: 62px;
  background-color: #ffffff;
  border-bottom: solid #efefef 1px;
  align-items: center;
}

.posh-logo {
  height: 30px;
  width: 30px;
}

.search-bar {
  border-style: none;
  height: 40px;
  width: 845px;
  background-color: #efefef;
  border-radius: 5px;
}

.navi-links {
  color: red;
}

.navi-links a:hover {
  background-color: #f0f0f0;
}

.pins {
  width: 236px;
  height: auto;
}

.pin-div {
  cursor: zoom-in;
  margin: -8px;
  padding: 8px;
  /* background-color: #f0f0f0; */
  z-index: -1;
}

.pin-div a:hover {
}

.parent-div-pin {
  display: flex;
  flex-direction: row;
  width: 1300px;
  justify-content: center;
}

.form-div {
  width: 440px;
  height: 604px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.transparent-div {
  background: url(./assets/transpBlack25.png);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
}
